body{
  background-color: #EEEEEE;
  padding: 0px;
}

.content{
  padding: 0px;
  margin: 0px;
}

img {
  max-width: 100%;
}

.back {
  background-color: #EEEEEE;
}

.carousel-item {
  height: 30rem;
  object-fit: cover;
}

.carousel {
  padding-left: 0px;
  padding-right: 0px;
}

.carousel-item img {
  position: absolute;
  object-fit:cover;
  top: 0;
  left: 0;
  min-height: 30rem;
}

.c_border{
  border-top: 1px solid;
}